  <section class="content">
    <div class="wrapper">
      <div class="panel panel-default login-form">
          <div class="panel-heading">
            <h3 class="panel-title text-center">
              <i class="glyphicon glyphicon-glass"><b style="font-size:18px;"> Đơn hàng: <%=@purchase_order[0].RefNo %></b></i>
            </h3>
          </div>
          <div class="main panel-body">
            <div class="main-show">
                <table style="width:90%;font-size:18px;">
                  <tr>
                    <th colspan="" class="col-md-4">Tình trạng:</th>
                    <td style="color:red"><%=@purchase_order[0].Status %></td>
                  </tr>
                  <tr>
                    <th class="col-md-4">Nhà cung cấp: </th>
                    <td> <%=@purchase_order[0].AccountObjectName %></td>
                  <tr>
                    <th class="col-md-4">Địa chỉ: </th>
                    <td><%=@purchase_order[0].AccountObjectAddress %></td>
                  </tr>
                  <tr>
                    <th class="col-md-4">SDT:</th>
                    <td> <%=@purchase_order[0].AccountObjectTaxCode %></td>
                  </tr>
                  <tr>
                    <th class="col-md-4">Email:</th>
                    <td> <%= %></td>
                  </tr>
                  </tr>
                  <tr>
                    <th class="col-md-4">Ngày đơn hàng:</th>
                    <td> <%=@purchase_order[0].RefDate.strftime("%d-%m-%Y") %></td>
                  </tr>
                  <tr>
                    <th class="col-md-4" colspan="">Ngày giao hàng: </th>
                    <td><%=@purchase_order[0].ReceiveDate.strftime("%d-%m-%Y") %></td>
                  </tr>
                  <tr>
                    <th class="col-md-4">Diễn giải: </th>
                    <td><%=@purchase_order[0].JournalMemo %></td>
                  </tr>
                  <tr>
                    <th class="col-md-4" colspan="">Số tiền:</th>
                    <td> <%=@purchase_order[0].TotalAmount %></td>
                  </tr>
                  <tr>
                    <th class="col-md-4">Tổng khối lượng:</th>
                    <td> <div class="volume-total"></div></td>
                  </tr>
                  <tr>
                    <th  class="col-md-4" colspan="">Tổng thể tích: </th>
                    <td><div class="weight-total"></div></td>
                  </tr>
                </table>
                
              </div>
          </div>
      </div>


<div class="panel panel-default login-form">
  <div class="row-main panel-body">
    <% @detail_pus.each do |detail_pu|%>

    <div class="panel panel-default login-form">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b style="font-size:16px;">Tên hàng: <%= detail_pu.Description%></b>
        </h3>
      </div>
    <div class="panel-body">
      <div class="row-main">
        <table style="width:90%;font-size:15px;">
          <tr>
            <td class="col-md-4"  ><b> Số lượng: </b> <%= detail_pu.Quantity%></td>
            <td class="col-md-4" colspan="">
              <b> Đơn vị tính: </b><%= show_unit(detail_pu.UnitID) %>
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="col-md-4"><b> Số lượng nhận: </b><%= detail_pu.QuantityReceipt%></td>
            <td class="col-md-4"><b> Đơn giá: </b> <%= detail_pu.UnitPrice%></td>
            <td class="col-md-4" colspan=""><b> Thành tiền: </b><%= detail_pu.Amount%></td>
          </tr>
          <tr>
            <td class="col-md-4"><b> Tỉ lệ chiết khấu:</b> <%= detail_pu.DiscountRate%></td>
            <td class="col-md-4"><b> Tiền chiết khấu: </b><%= detail_pu.DiscountAmount%></td>
            <td class="col-md-4"><b> Tỉ lệ GTGT:</b> <%= detail_pu.VATRate%></td>
          </tr>
          <tr>
            <td class="col-md-4"><b> Tiền GTGT: </b> <%= detail_pu.VATAmount%></td>
            <td class="col-md-4"><b style="float: left;"> Thể tích:</b> <div class="volume-details"><%= volume(detail_pu.item.try(:volume), detail_pu.Quantity)%></div></td>
            <td class="col-md-4" colspan=""> <b style="float: left;"> Khối lượng: </b><div class="weight-details"><%= weight(detail_pu.item.try(:weight), detail_pu.Quantity)%></div></td>
          </tr>
        </table>
      </div>
          </div>
      </div>
      <% end %>
  </div>
</div>
  
    <center style="margin-top:5px; margin-bottom: 15px">
    <%= link_to "Quay lại", purchase_orders_path, class: "btn btn-primary", onclick: "location"%></center>
</div>
</section>