
<!-- BEGIN .content -->
<section class="content">
  
  <!-- BEGIN .wrapper -->
  <div class="wrapper">

    <!-- BEGIN .top-slider-body -->
    <div class="top-slider-body" data-top-slider-timeout="6000" data-top-slider-autostart="true">
      <div class="top-slider-controls">
        <button class="left" data-top-slider-dir="left"><i class="fa fa-caret-left"></i> Previous</button>
        <button class="right" data-top-slider-dir="right">Next <i class="fa fa-caret-right"></i></button>
      </div>
      <div class="top-slider-content">

        <!-- BEGIN .top-slider-content-wrap -->
        <div class="top-slider-content-wrap active">

          <!-- BEGIN .item -->
        <% @inventorys.each do |item|%>
          <div class="item">
            <div class="item-header">
              <a href="post.html">
                <span class="comment-tag"><i class="fa fa-comment-o"></i>10<i></i></span>
                <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                <img src="<%= asset_path "photos/image-1.jpg" %>" alt="" />
              </a>
            </div>
            <div class="item-content">
              <strong class="category-link"><a href="category.html">Nature is awesome</a></strong>
              <h3><a href="post.html"><%= item.InventoryItemName%></a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
            </div>
          <!-- END .item -->
          </div>
          <%break%>
          <% end %>
          <!-- BEGIN .item -->
          <div class="item" data-color-top-slider="#867eef">
            <div class="item-header">
              <a href="post.html">
                <span class="comment-tag"><i class="fa fa-comment-o"></i>132<i></i></span>
                <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                <img src="<%= asset_path "photos/image-2.jpg" %>" alt="" />
              </a>
            </div>
            <div class="item-content">
              <strong class="category-link"><a href="category.html">Wee look at todays fashion</a></strong>
              <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
            </div>
          <!-- END .item -->
          </div>

          <!-- BEGIN .item -->
          <div class="item" data-color-top-slider="#867eef">
            <div class="item-header">
              <a href="post.html">
                <span class="comment-tag"><i class="fa fa-comment-o"></i>290<i></i></span>
                <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                <img src="<%= asset_path "photos/image-3.jpg" %>" alt="" />
              </a>
            </div>
            <div class="item-content">
              <strong class="category-link"><a href="category.html">Wee look at todays fashion</a></strong>
              <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
            </div>
          <!-- END .item -->
          </div>

        <!-- END .top-slider-content-wrap -->
        </div>

        <!-- BEGIN .top-slider-content-wrap -->
        <div class="top-slider-content-wrap">

          <!-- BEGIN .item -->
          <div class="item">
            <div class="item-header">
              <a href="post.html">
                <span class="comment-tag"><i class="fa fa-comment-o"></i>10<i></i></span>
                <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                <img src="<%= asset_path "photos/image-4.jpg" %>" alt="" />
              </a>
            </div>
            <div class="item-content">
              <strong class="category-link"><a href="category.html">Nature is awesome</a></strong>
              <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
            </div>
          <!-- END .item -->
          </div>

          <!-- BEGIN .item -->
          <div class="item" data-color-top-slider="#867eef">
            <div class="item-header">
              <a href="post.html">
                <span class="comment-tag"><i class="fa fa-comment-o"></i>132<i></i></span>
                <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                <img src="<%= asset_path "photos/image-5.jpg" %>" alt="" />
              </a>
            </div>
            <div class="item-content">
              <strong class="category-link"><a href="category.html">Wee look at todays fashion</a></strong>
              <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
            </div>
          <!-- END .item -->
          </div>

          <!-- BEGIN .item -->
          <div class="item" data-color-top-slider="#867eef">
            <div class="item-header">
              <a href="post.html">
                <span class="comment-tag"><i class="fa fa-comment-o"></i>290<i></i></span>
                <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                <img src="<%= asset_path "photos/image-6.jpg" %>" alt="" />
              </a>
            </div>
            <div class="item-content">
              <strong class="category-link"><a href="category.html">Wee look at todays fashion</a></strong>
              <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
            </div>
          <!-- END .item -->
          </div>

        <!-- END .top-slider-content-wrap -->
        </div>

      </div>
    <!-- END .top-slider-body -->
    </div>

    <div class="content-block has-sidebar">

      <!-- BEGIN .content-block-single -->
      <div class="content-block-single">
        
        <!-- BEGIN .content-panel -->
        <div class="content-panel">
          <div class="content-panel-title">
            <a href="blog.html" class="right">Read all articles</a>
            <h2>Latest Articles</h2>
          </div>
          <div class="content-panel-body article-list">
            
            <div class="item">
              <div class="item-header">
                <a href="post.html">
                  <span class="comment-tag"><i class="fa fa-comment-o"></i>290<i></i></span>
                  <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                  <img src="<%= asset_path "photos/image-13.jpg" %>" alt="" />
                </a>
              </div>
              <div class="item-content">
                <strong class="category-link"><a href="category.html">Nature is awesome</a></strong>
                <h3><a href="post.html">Bonorum meliore definitiones eu nec iudico consequat diceret</a></h3>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
              </div>
            </div>
            
            <div class="item">
              <div class="item-header">
                <a href="post.html">
                  <span class="comment-tag"><i class="fa fa-comment-o"></i>139<i></i></span>
                  <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                  <img src="<%= asset_path "photos/image-14.jpg" %>" alt="" />
                </a>
              </div>
              <div class="item-content">
                <strong class="category-link"><a href="category.html">Nature is awesome</a></strong>
                <h3><a href="post.html">Pro ut sumo indoctum adverium suavitate instructior</a></h3>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
              </div>
            </div>
            
            <div class="item" data-color-top-slider="#867eef">
              <div class="item-header">
                <a href="post.html">
                  <span class="comment-tag"><i class="fa fa-comment-o"></i>65<i></i></span>
                  <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                  <img src="<%= asset_path "photos/image-15.jpg" %>" alt="" />
                </a>
              </div>
              <div class="item-content">
                <strong class="category-link"><a href="category.html">We look at todays fashion</a></strong>
                <h3><a href="post.html">Mei summo commodo detracto ut eu quo minimum nostrum</a></h3>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
              </div>
            </div>

            <div class="popular-articles-middle">
              <div class="content-panel-title">
                <a href="blog.html" class="right">Read all articles</a>
                <h2>The Coolest Stories</h2>
              </div>
              <!-- BEGIN .top-slider-body -->
              <div class="top-slider-body" data-top-slider-timeout="6000" data-top-slider-autostart="false">
                <div class="top-slider-controls">
                  <button class="left" data-top-slider-dir="left"><i class="fa fa-caret-left"></i> Previous</button>
                  <button class="right" data-top-slider-dir="right">Next <i class="fa fa-caret-right"></i></button>
                </div>
                <div class="top-slider-content">

                  <!-- BEGIN .top-slider-content-wrap -->
                  <div class="top-slider-content-wrap active">

                    <!-- BEGIN .item -->
                    <div class="item">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>10<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-16.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <strong class="category-link"><a href="category.html">Nature is awesome</a></strong>
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                    <!-- BEGIN .item -->
                    <div class="item" data-color-top-slider="#867eef">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>132<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-17.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <strong class="category-link"><a href="category.html">Wee look at todays fashion</a></strong>
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                    <!-- BEGIN .item -->
                    <div class="item" data-color-top-slider="#867eef">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>290<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-18.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <strong class="category-link"><a href="category.html">Wee look at todays fashion</a></strong>
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                  <!-- END .top-slider-content-wrap -->
                  </div>

                  <!-- BEGIN .top-slider-content-wrap -->
                  <div class="top-slider-content-wrap">

                    <!-- BEGIN .item -->
                    <div class="item">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>10<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-16.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <strong class="category-link"><a href="category.html">Nature is awesome</a></strong>
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                    <!-- BEGIN .item -->
                    <div class="item" data-color-top-slider="#867eef">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>132<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-17.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <strong class="category-link"><a href="category.html">Wee look at todays fashion</a></strong>
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                    <!-- BEGIN .item -->
                    <div class="item" data-color-top-slider="#867eef">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>290<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-18.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <strong class="category-link"><a href="category.html">Wee look at todays fashion</a></strong>
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                  <!-- END .top-slider-content-wrap -->
                  </div>

                </div>
              <!-- END .top-slider-body -->
              </div>
            </div>
            
            <div class="item">
              <div class="item-header">
                <a href="post.html">
                  <span class="comment-tag"><i class="fa fa-comment-o"></i>290<i></i></span>
                  <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                  <img src="<%= asset_path "photos/image-14.jpg" %>" alt="" />
                </a>
              </div>
              <div class="item-content">
                <strong class="category-link"><a href="category.html">Nature is awesome</a></strong>
                <h3><a href="post.html">Bonorum meliore definitiones eu nec iudico consequat diceret</a></h3>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
              </div>
            </div>
            
            <div class="item" data-color-top-slider="#867eef">
              <div class="item-header">
                <a href="post.html">
                  <span class="comment-tag"><i class="fa fa-comment-o"></i>139<i></i></span>
                  <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                  <img src="<%= asset_path "photos/image-13.jpg" %>" alt="" />
                </a>
              </div>
              <div class="item-content">
                <strong class="category-link"><a href="category.html">We look at todays fashion</a></strong>
                <h3><a href="post.html">Pro ut sumo indoctum adverium suavitate instructior</a></h3>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
              </div>
            </div>
            
            <div class="item" data-color-top-slider="#8ec91d">
              <div class="item-header">
                <a href="post.html">
                  <span class="comment-tag"><i class="fa fa-comment-o"></i>65<i></i></span>
                  <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                  <img src="<%= asset_path "photos/image-15.jpg" %>" alt="" />
                </a>
              </div>
              <div class="item-content">
                <strong class="category-link"><a href="category.html">The urban news</a></strong>
                <h3><a href="post.html">Mei summo commodo detracto ut eu quo minimum nostrum</a></h3>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
              </div>
            </div>

          </div>
          <div class="content-panel-body pagination">
            <a class="prev page-numbers" href="#"><i class="fa fa-angle-left"></i>Previous</a>
            <a class="page-numbers" href="#">1</a>
            <span class="page-numbers current">2</span>
            <a class="page-numbers" href="#">3</a>
            <a class="page-numbers" href="#">4</a>
            <a class="page-numbers" href="#">5</a>
            <a class="next page-numbers" href="#">Next<i class="fa fa-angle-right"></i></a>
          </div>
        <!-- END .content-panel -->
        </div>
        
        <!-- BEGIN .content-panel -->
        <div class="content-panel">
          <div class="content-panel-body do-space">
            <a href="#" target="_blank"><img src="<%= asset_path "no-space-2.jpg" %>" alt="" /></a>
          </div>
        <!-- END .content-panel -->
        </div>
        
        <!-- BEGIN .content-panel -->
        <div class="content-panel">
          <div class="content-panel-title">
            <a href="category.html" class="right">More like this</a>
            <h2>Latest From <a href="category.html" style="color: #eb6435;">Nature is awesome</a></h2>
          </div>
          <div class="content-panel-body split-article-slide">

            <div class="split-article-slide-left">
              <!-- BEGIN .top-slider-body -->
              <div class="top-slider-body" data-top-slider-timeout="6000" data-top-slider-autostart="false">
                <div class="top-slider-controls">
                  <button class="left" data-top-slider-dir="left"><i class="fa fa-chevron-left"></i></button>
                  <button class="right" data-top-slider-dir="right"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="top-slider-content">

                  <!-- BEGIN .top-slider-content-wrap -->
                  <div class="top-slider-content-wrap active">

                    <!-- BEGIN .item -->
                    <div class="item">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>10<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-16.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                    <!-- BEGIN .item -->
                    <div class="item">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>132<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-16.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                    <!-- BEGIN .item -->
                    <div class="item">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>290<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-18.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                  <!-- END .top-slider-content-wrap -->
                  </div>

                  <!-- BEGIN .top-slider-content-wrap -->
                  <div class="top-slider-content-wrap">

                    <!-- BEGIN .item -->
                    <div class="item">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>10<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-16.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                    <!-- BEGIN .item -->
                    <div class="item">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>132<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-16.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                    <!-- BEGIN .item -->
                    <div class="item">
                      <div class="item-header">
                        <a href="post.html">
                          <span class="comment-tag"><i class="fa fa-comment-o"></i>290<i></i></span>
                          <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                          <img src="<%= asset_path "photos/image-16.jpg" %>" alt="" />
                        </a>
                      </div>
                      <div class="item-content">
                        <h3><a href="post.html">Greece's reform plan backed by creditors</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                      </div>
                    <!-- END .item -->
                    </div>

                  <!-- END .top-slider-content-wrap -->
                  </div>

                </div>
              <!-- END .top-slider-body -->
              </div>
            </div>
            <div class="split-article-slide-right">
              <div class="item">
                <div class="item-header">
                  <a href="post.html">
                    <span class="comment-tag"><i class="fa fa-comment-o"></i>65<i></i></span>
                    <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                    <img src="<%= asset_path "photos/image-16.jpg" %>" alt="" />
                  </a>
                </div>
                <div class="item-content">
                  <h3><a href="post.html">Mei summo commodo detracto ut eu quo minimum nostrum</a></h3>
                  <span class="item-meta">
                    <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                    <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                  </span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                  <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
                </div>
              </div>
            </div>
          </div>
        <!-- END .content-panel -->
        </div>
        
        <!-- BEGIN .content-panel -->
        <div class="content-panel">
          <div class="content-panel-title">
            <a href="category.html" class="right">More like this</a>
            <h2>Featured From <a href="category.html" style="color: #4288de;">Car &amp; Racing World</a></h2>
          </div>
          <div class="content-panel-body full-width-articles">
            
            <div class="item" data-color-top-slider="#4288de">
              <div class="item-header">
                <a href="post.html">
                  <span class="comment-tag"><i class="fa fa-comment-o"></i>139<i></i></span>
                  <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                  <img src="<%= asset_path "photos/image-20.jpg" %>" alt="" />
                </a>
              </div>
              <div class="item-content">
                <h3><a href="post.html">Pro ut sumo indoctum adverium suavitate instructior</a></h3>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
              </div>
            </div>
            
            <div class="item" data-color-top-slider="#4288de">
              <div class="item-header">
                <a href="post.html">
                  <span class="comment-tag"><i class="fa fa-comment-o"></i>65<i></i></span>
                  <span class="read-more-wrapper"><span class="read-more">Read full article<i></i></span></span>
                  <img src="<%= asset_path "photos/image-21.jpg" %>" alt="" />
                </a>
              </div>
              <div class="item-content">
                <h3><a href="post.html">Mei summo commodo detracto ut eu quo minimum nostrum</a></h3>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna esse cillum dolore...</p>
                <a href="post.html" class="read-more-button">Read full article<i class="fa fa-mail-forward"></i></a>
              </div>
            </div>
          </div>
        <!-- END .content-panel -->
        </div>

      <!-- END .content-block-single -->
      </div>

      <!-- BEGIN .sidebar -->
      <aside class="sidebar">

        <div class="widget">
          <h3>Popular News</h3>
          <div class="widget-article-list">

            <div class="item">
              <div class="item-header">
                <a href="post-2.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">Watch the first 30 minutes of Mortal Kombat X</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-8.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">How The Walking Dead became irresistible to advertisers</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>139 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-9.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">Hugh Jackman's time as Wolverine appears to be an end</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>65 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <a href="blog.html" class="button-read-more">Show more articles</a>

          </div>
        </div>

        <div class="widget">
          <h3>Join our social network alliance</h3>
          <div class="social-widget">
            <div class="social-squares">
              <a href="#" target="_blank" class="hover-color-facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" target="_blank" class="hover-color-twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" target="_blank" class="hover-color-google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" target="_blank" class="hover-color-rss"><i class="fa fa-rss"></i></a>
              <a href="#" target="_blank" class="hover-color-youtube"><i class="fa fa-youtube-play"></i></a>
              <a href="#" target="_blank" class="hover-color-linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="#" target="_blank" class="hover-color-dribbble"><i class="fa fa-dribbble"></i></a>
              <a href="#" target="_blank" class="hover-color-pinterest"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <p>Vim corpora definitionem ad, est et tritani argumentum, ei nec adhuc dignissim.</p>
          </div>
        </div>

        <div class="widget widget-tabbed">
          <h3><span class="active">Comments</span><span>Popular</span><span>Recent</span></h3>
          <div class="widget-comments-list active">
            
            <div class="item">
              <div class="item-header">
                <img src="<%= asset_path "no-avatar.jpg" %>" alt="" />
              </div>
              <div class="item-content">
                <h4><a href="#">Lindon Brook</a></h4>
                <p>Vim corpora definitionem ad, est et tritani argumentum, ei nec adhuc dignissim eos...</p>
                <span class="item-meta">
                  <a href="post.html"><i class="fa fa-reply"></i>Read related article</a>
                </span>
              </div>
            </div>
            
            <div class="item">
              <div class="item-header">
                <img src="<%= asset_path "no-avatar.jpg" %>" alt="" />
              </div>
              <div class="item-content">
                <h4><a href="#">Dane Goddard</a></h4>
                <p>Iudico consequat sit te, diceret nonumes adolescens id vim.</p>
                <span class="item-meta">
                  <a href="post.html"><i class="fa fa-reply"></i>Read related article</a>
                </span>
              </div>
            </div>
            
            <div class="item">
              <div class="item-header">
                <img src="<%= asset_path "no-avatar.jpg" %>" alt="" />
              </div>
              <div class="item-content">
                <h4><a href="#">Alvin Rodolph</a></h4>
                <p>Gubergren temporibus te, inciderint accommodare definitiones usu.</p>
                <span class="item-meta">
                  <a href="post.html"><i class="fa fa-reply"></i>Read related article</a>
                </span>
              </div>
            </div>

          </div>
          <div class="widget-article-list">

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">Watch the first 30 minutes of Mortal Kombat X</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">How The Walking Dead became irresistible to advertisers</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>139 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">Hugh Jackman's time as Wolverine appears to be an end</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>65 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <a href="blog.html" class="button-read-more">Show more articles</a>

          </div>
          <div class="widget-article-list">

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">Hugh Jackman's time as Wolverine appears to be an end</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>65 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">Watch the first 30 minutes of Mortal Kombat X</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">How The Walking Dead became irresistible to advertisers</a></h4>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>139 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <a href="blog.html" class="button-read-more">Show more articles</a>

          </div>
        </div>

        <div class="widget">
          <div class="do-space">
            <a href="#" target="_blank"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
          </div>
        </div>

        <div class="widget">
          <h3>Latest Photo Galleries</h3>
          <div class="widget-photo-gallery">

            <div class="item">
              <div class="item-header">
                <a href="photo-gallery-single.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
                <a href="photo-gallery-single.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
                <a href="photo-gallery-single.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
                <a href="photo-gallery-single.html" class="no-image"><strong>+13</strong></a>
              </div>
              <div class="item-content">
                <h4><a href="photo-gallery-single.html">Watch the first 30 minutes of Mortal Kombat X</a></h4>
                <span class="item-meta">
                  <a href="photo-gallery-single.html"><i class="fa fa-camera"></i>16 photos</a>
                  <a href="photo-gallery-single.html"><i class="fa fa-reply"></i>View all photos</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="photo-gallery-single.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
                <a href="photo-gallery-single.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
                <a href="photo-gallery-single.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
                <a href="photo-gallery-single.html" class="no-image"><strong>+13</strong></a>
              </div>
              <div class="item-content">
                <h4><a href="photo-gallery-single.html">Watch the first 30 minutes of Mortal Kombat X</a></h4>
                <span class="item-meta">
                  <a href="photo-gallery-single.html"><i class="fa fa-camera"></i>16 photos</a>
                  <a href="photo-gallery-single.html"><i class="fa fa-reply"></i>View all photos</a>
                </span>
              </div>
            </div>

            <a href="photo-gallery.html" class="button-read-more">Show more galleries</a>

          </div>
        </div>

        <div class="widget">
          <h3>Subscribe to our newsletter</h3>
          <div class="widget-subscribe">
            <div>
              <p>Ne congue electram dignissim eos, ius verterem gubergren temporibus te, cu inciderint definitiones usu.</p>
            </div>
            <hr>
            <div class="alert-message alert-green">
              <strong>Success! This a success message</strong>
            </div>
            <!-- <div class="alert-message alert-red">
              <strong>Error! This an error message</strong>
            </div>
            <div class="alert-message">
              <strong>Warning! This a warning message</strong>
            </div> -->
            <form action="#">
              <label class="label-input">
                <span>Your name</span>
                <input type="text" value="" />
              </label>
              <label class="label-input">
                <span>E-mail address</span>
                <input type="email" value="" />
              </label>
              <input type="submit" class="button" value="Subscribe" />
            </form>
          </div>
        </div>

        <div class="widget">
          <h3>Tag cloud</h3>
          <div class="tagcloud">
            <a href="blog.html">Dignissim</a>
            <a href="blog.html">Habeo quods</a>
            <a href="blog.html">Sumo</a>
            <a href="blog.html">Prima dicunt</a>
            <a href="blog.html">Scripser</a>
            <a href="blog.html">Dignissim</a>
            <a href="blog.html">Habeo quods</a>
            <a href="blog.html">Sumo</a>
            <a href="blog.html">Prima dicunt</a>
            <a href="blog.html">Scripser</a>
            <a href="blog.html">Dignissim</a>
            <a href="blog.html">Habeo quods</a>
          </div>
        </div>

        <div class="widget">
          <h3>Latest Reviews</h3>
          <div class="widget-article-list">

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">Hugh Jackman's time as Wolverine appears to be an end</a></h4>
                <div><strong class="item-stars"><span class="stars-inner" style="width: 100%;"></span></strong></div>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>65 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">Watch the first 30 minutes of Mortal Kombat X</a></h4>
                <div><strong class="item-stars"><span class="stars-inner" style="width: 60%;"></span></strong></div>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>82 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <div class="item">
              <div class="item-header">
                <a href="post.html"><img src="<%= asset_path "photos/image-7.jpg" %>" alt="" /></a>
              </div>
              <div class="item-content">
                <h4><a href="post.html">How The Walking Dead became irresistible to advertisers</a></h4>
                <div><strong class="item-stars"><span class="stars-inner" style="width: 80%;"></span></strong></div>
                <span class="item-meta">
                  <a href="post.html#comments"><i class="fa fa-comment-o"></i>139 comments</a>
                  <a href="blog.html"><i class="fa fa-clock-o"></i>March 30, 2015</a>
                </span>
              </div>
            </div>

            <a href="blog.html" class="button-read-more">Show more reviews</a>

          </div>
        </div>

      <!-- END .sidebar -->
      </aside>

    </div>
    

  <!-- END .wrapper -->
  </div>
  
<!-- BEGIN .content -->
</section>
