
<h2>Danh sách user </h2>
<div class="pull-right"> <%=link_to "Create", new_users_manage_path(), class:"btn btn-primary " %></div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user|%>
      <tr>
        <td><%= user.name%></td>
        <td><%= user.email%></td>
        <td><%= user.roles.first.try(:name)%></td>
        <td>
        <%  unless user.has_role? :admin %>
          <%= link_to "Edit", edit_users_manage_path(user) %> &nbsp  | &nbsp <%= link_to "Xóa", users_manage_path(user), data: { confirm: "Are you sure?" }, method: :delete %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>