<section class="content">
  <div class="wrapper">
    <div class="page-header">
      <h3 align="center">NHẬP THÔNG TIN HÀNG HÓA</h3>
    </div>
    <div class="select_container">
      <div class="items" style="width: 65%">
      <table id="example" class="display responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th></th>
          <th>Mã mặt hàng</th>
          <th>Đơn vị tính</th>
          <th>Khối lượng</th>
          <th>Thể tích</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item|%>
          <tr>
            <td>
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </td>
            <input type="hidden" value="<%=item[1][0].inventory_item.InventoryItemID%>"></input>
            <td><%= item[1][0].inventory_item.InventoryItemCode%></td>
            <td class="item_name"><%= show_unit(item[1][0].UnitID)%></td>
            <td class="item_weight"><%= item[1][0].item.try(:weight)%></td>
            <td class="item_volume"><%= item[1][0].item.try(:volume)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
      <div class="items" style="width: 30%">
        <%= form_tag(add_information_items_path, method: :get) do %>
            <div class="panel panel-primary">
              <div class="panel-heading"><center>Thông tin mặt hàng</center></div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2"><span class="break">Tên Mặt Hàng</span></th>
                    </tr>
                  </thead>
                  <%= hidden_field_tag 'selected_item_id' %>
                  <tr>
                    <td style="width: 43%">Khối lượng (kg):</td>
                    <td><%= text_field_tag 'weight', nil, class: 'form-control', disabled: true%></td>
                  </tr>
                  <tr>
                    <td>Thể tích (m<sup>3</sup>):</td>
                    <td><%= text_field_tag 'volume', nil, class: 'form-control', disabled: true%></td>
                  </tr>
                </table>
              </div>
              <div class="panel-body-selected" style="height: 345px">
                <center><h3>Các nhà cung cấp</h3></center>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="col-md-7">Nhà cung cấp</th>
                      <th class="col-md-5">Mã mặt hàng (NCC)</th>
                    </tr>
                  </thead>
                  <tbody id="input_item_code">
                  </tbody>
                </table>
              </div>
            </div>
            <%= submit_tag( "Lưu", class: "btn btn-primary btn-lg", style:"width: 100%;", id: "chon" ) %>
        <% end %>
      </div>
    </div>
  </div>
</section>
