<section class="content">
  <div class="wrapper">
    <div class="page-header">
      <h1 align="center">Chọn Mặt Hàng</h1>
    </div>
    <div style="display: none">
      <% @selected_items.each do |selected_item| %>
        <input type="hidden" class="selected_item" value="<%=selected_item.item_id%>"><%=selected_item.item_id%></input>
      <%end%>
    </div>
    <div class="select_container">
      <div class="items" style="width: 65%">
        <%= form_tag(insert_items_path, method: :get) do %>
          <%= hidden_field_tag 'supplier_id',  @supplier[0].AccountObjectID %>
          <%= select_tag 'list_items', options_for_select(@items.collect{ |u| [u.InventoryItemName, u.InventoryItemID] }), multiple: true , id: :items%>
      </div>
      <div class="items" style="width: 30%">
      <%= submit_tag( "Chọn", class: "btn btn-primary btn-lg", style:"width: 250px;margin: 0px 0px 10px 32px ;", id: "chon" ) %>
        <% end %>
          <div class="panel panel-primary">
            <div class="panel-heading"><center>Mặt hàng đã chọn</center></div>
            <div class="panel-body-selected" id="test">
            </div>
          </div>
      </div>
    </div>
  </div>
</section>