<section class="content">
  <div class="wrapper">
  <div class="page-header">
    <h3 align="center">CHI TIẾT ĐƠN HÀNG</h3>
  </div>
  <%= form_tag creates_map_order_index_path do %>
  <div class="panel panel-primary">
    <div class="panel-heading">Chi tiết đơn hàng</div>
      <div class="panel-body" style="max-height: 300px;overflow-y: scroll;">
        <div class="row-main panel-body">
      <% @list_order.each do |detail_pus|%>
      <div class="panel-heading">
        <h2 class="panel-title">
          <b style="font-size:16px;">Đơn Hàng: <%= detail_pus.RefNo%></b>
          <%= hidden_field_tag("Pu[][RefID]", detail_pus.RefID)%>
        </h3>
      </div>
        <% detail_pus.pu_order_detail.includes(:item, :inventory_item).each do |detail_pu|%>
        <div class="panel panel-default login-form">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b style="font-size:16px;">Tên hàng: <%= detail_pu.inventory_item.InventoryItemCode%> - <%= detail_pu.inventory_item.InventoryItemName%></b>
                  <%= hidden_field_tag("Pu[][Item][][InventoryItemID]", detail_pu.InventoryItemID)%>
                </h3>
              </div>
              <div class="panel-body">
                <div class="">
            <table style="width:90%;font-size:15px;">
              <tr class="states">
                <td colspan="3" style="float: left;">
                <div style="width: 950px" class="alert alert-success">Nhập vào số lượng để tính toán thể tích khối lượng
                  <span style="float: left;">Số lượng:</span><span class="col-md-3"> <%= number_field_tag 'Pu[][Item][][quantity]', detail_pu.Quantity, class: "form-control quantity margin_top"  %></span></div>
                </td>
              </tr>
              <tr>
                <%= hidden_field_tag("volume_detail", detail_pu.item.try(:volume), {class: "volume_detail"})%>
                <td colspan="">
                  <div style="height: 50px" class="alert alert-warning">
                  <div style="width: 290%">
                    <span class="float_left">Thể tích:</span> <div class="col-md-2 volume"><b><%= volume(detail_pu.item.try(:volume), detail_pu.Quantity)%></b> </div>
                  </div>
                  <div>
                    <span class="float_left">Khối lượng: </span><div class="col-md-2 weight"> <b> <%= weight(detail_pu.item.try(:weight), detail_pu.Quantity)%></b></div>
                  </div>
                  </div>
                </td>
                  <%= hidden_field_tag("weight_detail", detail_pu.item.try(:weight), {class: "weight_detail"})%>
              </tr>
              <tr>
                <td>
                <div style="width: 280%">
                  <span style="float: left;"> Đơn vị tính:</span><span class="col-md-2"> <%= show_unit(detail_pu.UnitID) %></span>
                  </div>
                  <span class="float_left">Số lượng nhận:</span><span class="col-md-2"> <%= detail_pu.QuantityReceipt%></span>
                </td>
              </tr>
            </table>
          </div>
              </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class=" col-md-12">
     <p class="float_left" style="color: red;"> <b>Nhập Tên để lưu</b></p>
     <div class=" col-md-4 float_left">
    <%= text_field_tag("name","", required: true , class: "form-control ")%>
    </div>
<%= submit_tag "Save", class: "btn btn-primary float_left", data: { confirm: "Are you sure?" } %>
 </div>
<% end %>
<div class="col-md-12" style="margin-top: 20px;">
  <div style="float: right; width: 25%; height: 80px" class="alert alert-success">
    <div><b class="float_left"> Tổng thể tích: </b><div style="text-align: center; font-size: 17px" class="the_tich"></div></div>
    <div class="" > <b class="float_left"> Tổng khối lượng: </b> <div style="text-align: center; font-size: 17px"  class="khoi_luong"></div></div>
  </div>
  <div style="float: right; width: 25%; height: 80px" class="alert alert-success">
    <div><b class="float_left"> Thể tích của container: </b><div style="text-align: center; font-size: 17px" class="thetich_container">2700</div></div>
    <div  > <b class="float_left"> Khối lượng của container: </b> <div style="text-align: center; font-size: 17px"  class=""></div><div class="khoiluong_container">1700</div></div>
  </div>

  <div style="float: right; width: 44%; height: 80px" class="alert alert-success map">
    <div class="map_thetich map_tt_kl" ></div>
    <div class="map_khoiluong map_tt_kl" ></div>
  </div>
</div>
</div>
</div>
</section>