<section class="content">
  <div class="wrapper">
<%= form_tag creates_map_order_index_path do %>

  <div class="panel panel-primary">
    <div class="panel-heading">mat hang</div>
      <div class="panel-body" style="max-height: 500px;overflow-y: scroll;">
        <div class="row-main panel-body">
      <% @list_order.each do |detail_pus|%>
      <div class="panel-heading">
        <h2 class="panel-title">
          <b style="font-size:16px;">Don Hang: <%= detail_pus.AccountObjectName%></b>
          <%= hidden_field_tag("Pu[][RefID]", detail_pus.RefID)%>
        </h3>
      </div>
      <p>Chi Tiet Don hang</p>
        <% detail_pus.pu_order_detail.each do |detail_pu|%>
        <div class="panel panel-default login-form">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b style="font-size:16px;">Mã hàng: <%= detail_pu.InventoryItemID%></b>
                  <%= hidden_field_tag("Pu[][Item][][InventoryItemID]", detail_pu.InventoryItemID)%>
                </h3>
              </div>
              <div class="panel-body">
                <div class="">
            <table style="width:90%;font-size:15px;">
              <tr>
                <td colspan="3">Tên hàng: <%= detail_pu.Description%></td>
              </tr>
              <tr>
                <td>Số lượng: <%= number_field_tag 'Pu[][Item][][quantity]', detail_pu.Quantity, class: "form-control quantity"  %></td>
                <td colspan="3">
                  Đơn vị tính:
                  <%= show_unit(detail_pu.UnitID) %>
                </td>
              </tr>
              <tr>
                <td>Thể tích: <div class="volume"><%= volume(detail_pu.item.try(:volume), detail_pu.Quantity)%> </div></td>
                <%= hidden_field_tag("volume_detail", detail_pu.item.try(:volume), {class: "volume_detail"})%>
                <td colspan="3">Khối lượng: <div class="weight">  <%= weight(detail_pu.item.try(:weight), detail_pu.Quantity)%></div></td>
                <%= hidden_field_tag("weight_detail", detail_pu.item.try(:weight), {class: "weight_detail"})%>
              </tr>
              <tr>
                <td>Số lượng nhận: <%= detail_pu.QuantityReceipt%></td>
              </tr>
            </table>
          </div>
              </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<%= submit_tag "Save", class: "btn btn-primary", data: { confirm: "Are you sure?" } %>
<% end %>
The Tich: <div class="the_tich"></div>
Khoi Luong: <div class="khoi_luong"></div>
  </div>
</section>