<!-- SIDEBAR MENU -->
<div class="profile-usermenu">
  <ul class="nav">
    <li class="active">
      <a href="#">
      <i class="glyphicon glyphicon-home"></i>
      Home </a>
    </li>
    <li>
      <%= link_to "Danh sách đơn hàng ", purchase_orders_path%>
    </li>
    <li>
      <%= link_to "Dữ liệu gom container", show_map_index_path%>
    </li>
    <li>
      <%= link_to "Gom đơn hàng vào container", map_order_index_path%>
    </li>
    <li>
      <%= link_to "Nhập khối lượng thể tích cho mặt hàng", input_items_path%>
    </li>
    <li>
      <%= link_to "Danh sách nhà cung cấp ", suppliers_items_path%>
    </li>
  </ul>
</div>
<!-- END MENU -->