<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Home | Corlate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
  <div id="wrapper">
    <div id="">
      <div class="">
        <%= render 'layouts/header' %>
        <div style="float: left;" class="col-md-2"><%= render 'layouts/sidebar' %></div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>