<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Home | Corlate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
  <div id="wrapper">
    <div class="header">
      <%= render 'layouts/header' %>
    </div>
    <div class="body_content" style="min-height: 457px;">
        <div class="col-md-10">
          <%= yield %>
        </div>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>